	html,body{margin:0; padding:0}
	
	body {	
		font-family: serif;
		overflow: auto;
		padding-right: 1px;
		background-color: grey;
		background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
	}
	
	header {
		height: 86px;
		position: absolute;
		top: 0;
		width: 100%;
		background-color: black;
	}
	
	#Links {
		color: white;
	    font-size: 30px; 
	    height: auto;
	    position: absolute;
	    top: 23px;
	    right: 150px;
	}
	
	#Title {
		width: 100%;
		font-size: 30px;
		color: white;
		text-align: center;
	}
	
	#Logo { 
	    max-width: 300px; 
	    height: auto;
	    position: absolute;
	    top: 10px;
	    left: 25px; 
	}
	
	#GHLogo { 
	    max-width: 100px; 
	    height: auto;
	    position: absolute;
	    top: 20px;
	    right: 25px; 
	}
	
	#Certs {
		text-align: center;
		display: inline-block;
		margin-left: 80%;
		position: relative;
		margin-top: 50px;
	}
	
	#Badge { 
	    max-height: 50%;
	    height: auto;
	    margin-top: 6px;
	    right: 60px; 
	}
	
	#Certs-txt {
		position: absolute;
	}
	
	h2 {
		color: white;
	}
	
	.Content {
		color: white;
	}
	
	#Intro {
		position: relative;
		top: 200px;
		left: 50px;
	}

	footer {
		position: fixed;
		bottom: 3px;
		height: 15px;
		margin-top: 40px;
		text-align: center;
		vertical-align: center;
		width: 100%;
		margin: auto;
		color: ghostwhite;
		font-size: 11px;
		background-color: black;

	}