	html,body {margin:0; padding:0}
	
	body {	
		font-family: serif;
		overflow-x: hidden;
		overflow-y: auto;
		padding-right: 1px;
		margin: 0px;
		background-color: grey;
		background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
	}
	
	header {
		height: 86px;
		position: absolute;
		top: 0;
		width: 100%;
		background-color: black;
	}
	
	#Menu {
		list-style: none;
		position: absolute;
		top: 120px;
	}
	
	#Menu a:link, a:visited {
		text-decoration: none;
		background-color: white;
		border: 1px solid black;
		color: black;
		display: block;
		width: 100px;
		text-align: center;
		margin-bottom: 1px;
	}
	
	#Menu a:hover, a:active {
		background-color: black;
		color: white
	}
	
	#Links-txt {
		color: white;
	    font-size: 30px; 
	    height: auto;
	    position: absolute;
	    top: 23px;
	    right: 200px;
	}
	
	#Links {
		display: block;
		height: auto;
		width: 100%;
		padding-left: 500px;
	}
	
	#Title {
		width: 100%;
		font-size: 30px;
		color: white;
		text-align: center;
	}
	
	#Logo { 
	    max-width: 300px; 
	    height: auto;
	    position: absolute;
	    top: 10px;
	    left: 25px; 
	}
	
	#GHLogo { 
	    max-width: 100px; 
	    height: auto;
	    position: absolute;
	    top: 20px;
	    right: 25px; 
	}
	
	#Mastodon {
		max-width: 30px; 
	    height: auto;
	    position: absolute;
	    top: 25px;
	    right: 150px;
	}
	
	#Certs {
		text-align: center;
		display: inline-block;
		right: 5px;
		position: fixed;
		margin-top: 0px;
		border: 1px solid white;
		background-color: black;
		box-shadow: 2px;
	}
	
	/* #Badge { 
	    max-height: 40%;
	    height: auto;
	    margin-top: 6px;
	    right: 70px; 
	} */
	
	#Certs-txt {
		font-size: 12px;
	}
	
	h2 {
		font-size: 20px;
	}
	
	#Certs {
		line-height: 1;
		color: white;
	}
	
	.Content {
		color: white;
	}
	
	#Intro {
		position: relative;
		padding-right: 325px;
		top: 200px;
		left: 50px;
	}

	footer {
		position: fixed;
		bottom: 3px;
		height: 15px;
		margin-top: 40px;
		text-align: center;
		vertical-align: center;
		width: 100%;
		margin: auto;
		color: ghostwhite;
		font-size: 11px;
		background-color: black;

	}